<!DOCTYPE html>
<html>
  <head>
    <title>Personal Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <h2>Home Page</h2>
    <p>Articles will be listed here...</p>
    <%- include('../partials/footer') %>
  </body>
</html>
